<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CodeFlix</title>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" crossorigin="anonymous">
        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    </head>
    
    <body>
        <h1>CodeFlix</h1>
        <input type="text" id="usuario" placeholder="USUARIO">
        <input type="password"  id="senha" placeholder="SENHA">
        <button type="submit" class="btn btn-primary logar">Entrar</button>
        <button type="submit" class="btn btn-info cadastrar">Cadastrar</button>
    </body>

    <script>
        $(".cadastrar").click(function () {
            location.href="/novo";
        });

        $(".logar").click(function(){
            $.post("/logar",{
                usuario: $("#usuario").val() ,
                senha: $("#senha").val()
            }, function(data){
                location.href = data;
            });
        });
    </script>
</html>