<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CodeFlix</title>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
      
    </head>
    
    <body>
        <h1>CodeFlix</h1>
        <input type="text" placeholder="USUARIO">
        <input type="password" name="" id="" placeholder="SENHA">
        <button type="submit">Entrar</button>
        <button type="submit">Cadastrar</button>
    </body>
</html>